.container {
  background-color: beige;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* flex-flow: cloumn nowrap; */
  justify-content: space-evenly;
  align-items: baseline;
}

.item {
  width: 100px;
  height: 70px;
  border: 1px solid black;
}

.item1 {
  background-color: #ef9a9a;
}
.item2 {
  background-color: #f48fb1;
}
.item3 {
  background-color: #ce93d8;
}
.item4 {
  background-color: #b39ddb;
}
.item5 {
  background-color: #90caf9;
}
.item6 {
  background-color: #a5d6a7;
}
.item7 {
  background-color: #e6ee9c;
}
.item8 {
  background-color: #fff59d;
}
.item9 {
  background-color: #ffcc80;
}
.item10 {
  background-color: #ffab91;
}
