* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.header__text {
  color: white;
  font-size: 5rem;
  font-weight: bold;
}
.container {
  display: flex;
}
.main {
  display: flex;
  height: 78vh;
}

.aside {
  width: 100%;
  padding-right: 30px;
  background-color: yellow;
}

.aside-list {
  list-style: none;
  font-weight: bold;
}

.main__section {
  padding: 30px;
  background-color: gray;
}

.main__section-article {
  font-weight: bold;
}

.main__section-article div {
  margin-top: 40px;
}

.main__seciton-article-header {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
